<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Style/Default")
    @Scripts.Render("~/Script/jQuery")
    @Scripts.Render("~/Script/Global")
    @*@Scripts.Render("~/Script/modernizr")*@
    @RenderSection("Head", false)
</head>
<body>
    <div class="Wrap">
        <div class="Container">
            <div class="Content">
                <div class="ToolsBar">
                    @*<div class="ToolsBar_Logo">
                            <div class="Logo_Box">
                                <img src="~/Content/Images/Logo.png" alt="生意专家" />
                            </div>
                        </div>*@
                    <div class="ToolsBar_Menu">
                        <ul>
                            <li class="WorkFlow">
                                <a href="javascript:;" onclick="$.Helper.Toggle.Class(this,'select|')">工作流</a>
                            </li>
                        </ul>
                    </div>
                    <div class="ToolsBar_User">
                        <div class="User_Panel">
                            <img src="~/Content/Images/Temp/topic.jpg" width="46" height="46" />
                        </div>
                    </div>
                </div>
                <div class="MainBox">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
