<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Style/Default")
    @Scripts.Render("~/Script/jQuery")
    @Scripts.Render("~/Script/Global")
    @*@Scripts.Render("~/Script/modernizr")*@
    @RenderSection("Head", false)
</head>
<body>
    <div class="Wrap">
        <div class="Container">
            <div class="Content">
                <div class="ToolsBar">
                    <div class="Logo">
                        <img src="~/Content/Images/Logo.png" alt="生意专家" />
                    </div>
                </div>
                <div class="MainBox">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        //$().ready(function () {
        //    $(".Main_Wrap").css({width:$()});
        //});
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
